/.DS_Store
/.ipynb_checkpoints
/Autres
/TP1 Hotbots, Dialogflow
/TP2 Corpus Preparation
/TP2 Regular Expressions and Finite-State Automata
/TP3 Creating Chatbots with Rasa
/TP4 Formal Semantics under NLTK
/TP5 First-Order Logic and Z3
/TP6
/TP7 Deep Learning
/TP8 Frequentist Methods
/TP9 Ontologies